# Practica  1 - GRUPO 9

## 1. Preparaci√≥n del entorno

In [3]:
#Instalaci√≥n de librerias
!pip install pandas numpy sqlalchemy psycopg2 matplotlib

Requirement already satisfied: pandas in c:\users\isra\.virtualenvs\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\isra\.virtualenvs\lib\site-packages (2.2.5)
Collecting sqlalchemy
  Using cached sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting psycopg2
  Using cached psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: matplotlib in c:\users\isra\.virtualenvs\lib\site-packages (3.10.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\isra\.virtualenvs\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\isra\.virtualenvs\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\isra\.virtualenvs\lib\site-packages (from pandas) (2025.2)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.1-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\isra\.virtualenvs\lib\site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\isra\.virtualenvs\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\isra\.virtualenvs\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------------ --------------- 1.3/2.1 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 9.8 MB/s eta 0:00:00
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 14.3 MB/s eta 0:00:00
Downloading greenlet-3.2.1-cp312-cp312-win_amd64.whl (296 kB)
Installing collected packages: psycopg2, greenlet, sqlalchemy
Successfully installed greenlet-3.2.1 psycopg2-2.9.10 sqlalchemy-2.0.40

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### 1.1 Importar librer√≠as

In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import matplotlib.pyplot as plt

## 2. Configuraci√≥n de la conexi√≥n a PostgreSQL

Definimos los par√°metros de conexi√≥n basados en el contenedor Docker levantado:
- **Base de datos:** `dbprac1g9`
- **Usuario:** `admin`
- **Contrase√±a:** `adminpass`
- **Host:** `localhost`
- **Puerto:** `5432`

In [5]:
engine = create_engine(
    'postgresql+psycopg2://admin:adminpass@localhost:5432/dbprac1g9'
)
print("‚úîÔ∏è Conexi√≥n a PostgreSQL configurada correctamente")

‚úîÔ∏è Conexi√≥n a PostgreSQL configurada correctamente

## 3. Carga de la tabla base en PostgreSQL

Leemos el CSV principal `telesurgery_cyber.csv` y lo volcamos en una tabla llamada `telesurgery_cyber`.

In [6]:
# 3.1 Leer CSV
df_telesurgery = pd.read_csv('data/telesurgery_cyber.csv')
df_telesurgery.head(5)

,Robot Gesture ID,Gesture Type,"Gesture Coordinates (x, y, z)",Timestamp,Gesture Duration (sec),Robot Status,Message ID,Sender,Receiver,Encryption Algorithm Used,Encryption Status,Network Latency (ms),Data Transfer Rate (Mbps),Threat Type,Threat Severity,Response Time (sec),Response Action Taken,Threat Detected
0,10,Incision,"(1.48, 1.4, 0.02)",2025-02-14 16:32:27,4.37,Idle,22614,Operator,Robot,Two Fish,Encrypted,11,97,Man-in-the-Middle Attack,Low,4.63,Reset Encryption,1
1,8,Diagnosis,"(1.62, 1.81, 0.68)",2025-02-14 16:32:27,3.08,Idle,61556,Operator,Robot,Two Fish,Encrypted,9,88,DoS Attack,Low,3.94,Reset Encryption,1
2,9,Incision,"(0.67, 1.53, 0.06)",2025-02-14 16:32:27,1.11,Active,27848,Operator,Robot,Two Fish,Encrypted,7,26,No Threat,Low,0.00,NaN,0
3,1,Incision,"(1.63, 1.74, 1.92)",2025-02-14 16:32:27,2.72,Idle,60592,Operator,Robot,Two Fish,Encrypted,13,56,Data Breach,High,4.58,Reconnect Connection,1
4,4,Suturing,"(0.53, 0.87, 1.17)",2025-02-14 16:32:27,1.20,Idle,46712,Robot,Operator,Two Fish,Failed,5,41,Man-in-the-Middle Attack,Low,2.46,Isolate Data,1

# 3.2 Volcar en Postgres

In [7]:
df_telesurgery.to_sql(
    name='telesurgery_cyber',
    con=engine,
    if_exists='replace',
    index=False
)
print("üì• Tabla 'telesurgery_cyber' cargada en PostgreSQL")

üì• Tabla 'telesurgery_cyber' cargada en PostgreSQL

### 3.3 Verificaci√≥n de la inserci√≥n en PostgreSQL

En esta secci√≥n consultamos la tabla `telesurgery_cyber` para comprobar que los datos se han cargado correctamente:
- Obtenemos el conteo total de registros.
- Vemos las primeras 5 filas para validar esquema y contenido.

In [30]:
# 3.3.1 Contar registros en la tabla
count_df = pd.read_sql(
    'SELECT COUNT(*) AS total_records FROM telesurgery_cyber',
    con=engine
)
print(f"Total de registros en telesurgery_cyber: {count_df.total_records.iloc[0]}")

# 3.3.2 Mostrar primeras 5 filas
preview_df = pd.read_sql(
    'SELECT * FROM telesurgery_cyber LIMIT 5',
    con=engine
)
preview_df

Total de registros en telesurgery_cyber: 1000

,Robot Gesture ID,Gesture Type,"Gesture Coordinates (x, y, z)",Timestamp,Gesture Duration (sec),Robot Status,Message ID,Sender,Receiver,Encryption Algorithm Used,Encryption Status,Network Latency (ms),Data Transfer Rate (Mbps),Threat Type,Threat Severity,Response Time (sec),Response Action Taken,Threat Detected
0,10,Incision,"(1.48, 1.4, 0.02)",2025-02-14 16:32:27,4.37,Idle,22614,Operator,Robot,Two Fish,Encrypted,11,97,Man-in-the-Middle Attack,Low,4.63,Reset Encryption,1
1,8,Diagnosis,"(1.62, 1.81, 0.68)",2025-02-14 16:32:27,3.08,Idle,61556,Operator,Robot,Two Fish,Encrypted,9,88,DoS Attack,Low,3.94,Reset Encryption,1
2,9,Incision,"(0.67, 1.53, 0.06)",2025-02-14 16:32:27,1.11,Active,27848,Operator,Robot,Two Fish,Encrypted,7,26,No Threat,Low,0.00,None,0
3,1,Incision,"(1.63, 1.74, 1.92)",2025-02-14 16:32:27,2.72,Idle,60592,Operator,Robot,Two Fish,Encrypted,13,56,Data Breach,High,4.58,Reconnect Connection,1
4,4,Suturing,"(0.53, 0.87, 1.17)",2025-02-14 16:32:27,1.20,Idle,46712,Robot,Operator,Two Fish,Failed,5,41,Man-in-the-Middle Attack,Low,2.46,Isolate Data,1

## 4. Carga y exploraci√≥n de los datasets adicionales

Antes de cargar los datasets y aplicar filtros, realizamos las siguientes tareas de limpieza en cada DataFrame:
- Normalizar nombres de columna (sin espacios, todo en min√∫sculas).
- Corregir delimitadores y tipos de datos.
- Eliminar duplicados y manejar valores faltantes.

---

### 4.1 Limpieza de `df_iot` (IoT-Malware)

Leemos el CSV con separador ‚Äú|‚Äù, renombramos columnas y eliminamos duplicados.

In [22]:
# 4.1.1 Leer con el separador correcto
df_iot = pd.read_csv(
    'data/IoT-Malware.csv',
    sep='|',
    engine='python'
)

# 4.1.2 Normalizar nombres de columna
df_iot.columns = (
    df_iot.columns
    .str.strip()
    .str.lower()
    .str.replace(r'[^0-9a-z_]', '_', regex=True)
)

In [23]:
# 4.1.3 Eliminar duplicados
df_iot.drop_duplicates(inplace=True)

# 4.1.4 Mostrar resultado
print(f"Filas tras limpieza: {len(df_iot)}")
df_iot.head()

Filas tras limpieza: 237

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed_label
0,1.547151e+09,CzsY0D4B96NTr8m7ld,192.168.1.199,59222,46.101.251.172,80,tcp,http,1.686784,149,...,-,11584,ShADadttfF,122,7741,122,178102,-,Malicious C&C,FileDownload
1,1.547151e+09,CGEJbl3RNkmXzmkEd4,192.168.1.199,59224,46.101.251.172,80,tcp,-,3.081233,0,...,-,0,S,3,180,0,0,-,Malicious C&C,NaN
2,1.547151e+09,CVMYDw4wnZfqWrOfd,192.168.1.199,59224,46.101.251.172,80,tcp,-,-,-,...,-,0,S,1,60,0,0,-,Malicious C&C,NaN
3,1.547151e+09,CXKZmpx40udvITEN2,192.168.1.199,59224,46.101.251.172,80,tcp,-,-,-,...,-,0,S,1,60,0,0,-,Malicious C&C,NaN
4,1.547151e+09,CBjcNy4pOh8Xg1H4S,192.168.1.199,59224,46.101.251.172,80,tcp,http,1.847943,149,...,-,4344,ShADadttfF,102,6485,121,178178,-,Malicious C&C,FileDownload

### Para el apartado de filtrado de datos se debe convertir el valor de ¬¥duration¬¥ a float  y los valores invalidos pasan a NaN

In [28]:
df_iot['duration'] = pd.to_numeric(df_iot['duration'], errors='coerce')

# Verificar tipos y algunas estad√≠sticas
print(df_iot['duration'].dtype)
print(df_iot['duration'].describe())

float64
count     156.000000
mean       46.958475
std       545.162848
min         0.001982
25%         0.005480
50%         0.012485
75%         0.100758
max      6803.476778
Name: duration, dtype: float64

### 4.2 NetCrime
Convertimos todas las columnas de p√©rdidas y quejas a tipo num√©rico.

In [20]:
# 4.2.1 Normalizar nombres
df_net.columns = (
    df_net.columns
    .str.strip()
    .str.lower()
    .str.replace(',', '')
    .str.replace(' ', '_')
)
# 4.2.2 Convertir columnas a num√©rico
cols_num = [c for c in df_net.columns if 'complaints' in c or 'losses' in c]
for c in cols_num:
    df_net[c] = pd.to_numeric(df_net[c], errors='coerce')

In [21]:
# 4.2.3 Revisar valores faltantes
print("Valores faltantes por columna:")
print(df_net[cols_num].isna().sum())

df_net.head()

Valores faltantes por columna:
2019_complaints    0
2019_losses        0
2020_complaints    0
2020_losses        0
2021_complaints    0
2021_losses        0
2022_complaints    0
2022_losses        0
2023_complaints    0
2023_losses        0
2024_complaints    0
2024_losses        0
dtype: int64

,country,2019_complaints,2019_losses,2020_complaints,2020_losses,2021_complaints,2021_losses,2022_complaints,2022_losses,2023_complaints,2023_losses,2024_complaints,2024_losses
0,PR,655,5929974,1338,7209755,1785,9463928,1594,17211758,1817,21018302,1974,31545772
1,PS,1784,22483591,2890,25423219,3352,48918464,3210,57796003,3378,69292891,3811,66002407
2,PT,1119,13870074,2020,12391290,2102,18205913,1918,30859319,2178,28700418,2209,40192274
3,PY,1913,10967865,2992,13815152,3188,26677869,3768,40114594,3487,33579643,2678,45168957
4,AE,5503,48101706,7390,81178182,10164,131934602,10042,187062157,11034,244238485,12071,280815215

### 4.3 RansomAttacks
Renombramos columnas, manejamos ‚Äúunknown‚Äù como NaN y convertimos montos a num√©rico.

In [16]:
# 4.3.1 Leer CSV
df_ransom = pd.read_csv('data/RansomAttacks.csv')

# 4.3.2 Normalizar nombres de columna
df_ransom.columns = (
    df_ransom.columns
      .str.strip()
      .str.replace(r'[^0-9A-Za-z]+', '_', regex=True)
      .str.lower()
)
# Ver columnas normalizadas
print("Columnas en df_ransom despu√©s de normalizar:")
print(df_ransom.columns.tolist())

Columnas en df_ransom despu√©s de normalizar:
['target', 'aka', 'description', 'sector', 'organisation_size_1_5_10_25_100_300', 'revenue_usd_million', 'cost', 'ransom_cost', 'data_note', 'ransom_paid', 'year_code', 'year', 'month', 'location', 'interesting_story_edited_', 'interesting_story_long_', 'interesting_story_', 'ransomware', 'stock_symbol', 'revenue_as_of', 'no_of_employees', 'data_note', 'source_name', 'url', 'url_2', 'url_3', 'url_4', 'url_5', '_id']

In [17]:
# 4.3.3 Detectar y convertir columnas num√©ricas relevantes
num_cols = [c for c in df_ransom.columns
            if any(keyword in c for keyword in ['revenue', 'cost', 'ransom'])]
print("Columnas num√©ricas a convertir:", num_cols)

for c in num_cols:
    df_ransom[c] = pd.to_numeric(df_ransom[c], errors='coerce')

# 4.3.4 Crear columna de fecha a partir de year y month
df_ransom['year'] = pd.to_numeric(df_ransom['year'], errors='coerce')
df_ransom['month'] = df_ransom['month'].str.capitalize()
df_ransom['date'] = pd.to_datetime(
    df_ransom['month'] + ' ' + df_ransom['year'].astype(str),
    format='%b %Y',
    errors='coerce'
)

# Mostrar el DataFrame limpio
df_ransom.info()
df_ransom.head(5)

Columnas num√©ricas a convertir: ['revenue_usd_million', 'cost', 'ransom_cost', 'ransom_paid', 'ransomware', 'revenue_as_of']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   target                               358 non-null    object
 1   aka                                  67 non-null     object
 2   description                          184 non-null    object
 3   sector                               351 non-null    object
 4   organisation_size_1_5_10_25_100_300  358 non-null    int64
 5   revenue_usd_million                  333 non-null    float64
 6   cost                                 107 non-null    float64
 7   ransom_cost                          113 non-null    float64
 8   data_note                            26 non-null     object
 9   ransom_paid                          0 non-null      float64
 10  year_code                            358 non-null    int64
 11  year                                 358 non-null    int64
 12  month                                353 non-null    object
 13  location                             358 non-null    object
 14  interesting_story_edited_            0 non-null      float64
 15  interesting_story_long_              38 non-null     object
 16  interesting_story_                   31 non-null     object
 17  ransomware                           0 non-null      float64
 18  stock_symbol                         81 non-null     object
 19  revenue_as_of                        0 non-null      float64
 20  no_of_employees                      41 non-null     object
 21  data_note                            59 non-null     object
 22  source_name                          0 non-null      float64
 23  url                                  356 non-null    object
 24  url_2                                128 non-null    object
 25  url_3                                24 non-null     object
 26  url_4                                2 non-null      object
 27  url_5                                1 non-null      object
 28  _id                                  358 non-null    int64
 29  date                                 353 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(4), object(17)
memory usage: 84.0+ KB

,target,aka,description,sector,organisation_size_1_5_10_25_100_300,revenue_usd_million,cost,ransom_cost,data_note,ransom_paid,...,no_of_employees,data_note,source_name,url,url_2,url_3,url_4,url_5,_id,date
0,Kaseya,NaN,NaN,tech,300,300.0,70.0,70.0,NaN,NaN,...,NaN,NaN,NaN,https://techcrunch.com/2021/07/05/kaseya-hack-...,NaN,NaN,NaN,NaN,359,2021-07-01
1,Salvation Army,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,https://www.teiss.co.uk/salvation-army-ransomw...,NaN,NaN,NaN,NaN,358,2021-06-01
2,Grupo Fleury,NaN,Brazil's largest diagnostic company,healthcare,10,686.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,https://www.bleepingcomputer.com/news/security...,NaN,NaN,NaN,NaN,357,2021-06-01
3,City of Liege,NaN,NaN,government,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,https://securityaffairs.co/wordpress/119240/ma...,NaN,NaN,NaN,NaN,356,2021-06-01
4,Lucky Star Casino,NaN,NaN,NaN,1,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,https://www.casino.org/news/lucky-star-casinos...,NaN,NaN,NaN,NaN,355,2021-06-01

## 5. Aplicaci√≥n de filtros

Aplicamos tres filtros de ejemplo en cada DataFrame para aislar subconjuntos de inter√©s.

### 5.1 Filtros en `df_iot` (IoT-Malware)

**Columnas clave**:
- `service` ‚Üí p.ej. `"http"`
- `duration` ‚Üí en segundos (float)
- `label` ‚Üí p.ej. `"Malicious   C&C"`

**Filtros**:
1. S√≥lo conexiones HTTP
2. Duraci√≥n mayor a 1 segundo
3. S√≥lo etiquetas ‚ÄúMalicious   C&C‚Äù

In [29]:
# 5.1.1 Filtrar s√≥lo registros con servicio HTTP
f_iot_http = df_iot[df_iot['service'] == 'http']

# 5.1.2 Filtrar conexiones de larga duraci√≥n (> 1 s)
f_iot_long = df_iot[df_iot['duration'] > 1.0]

# 5.1.3 Filtrar s√≥lo malware de tipo ‚ÄúMalicious   C&C‚Äù
f_iot_mal = df_iot[df_iot['label'] == 'Malicious   C&C']

# Mostrar resultados breves
print("HTTP:", f_iot_http.shape)
print("Dur >1s:", f_iot_long.shape)
print("Malicious C&C:", f_iot_mal.shape)
f_iot_http.head(3)

HTTP: (11, 23)
Dur >1s: (19, 23)
Malicious C&C: (25, 23)

,ts,uid,id_orig_h,id_orig_p,id_resp_h,id_resp_p,proto,service,duration,orig_bytes,...,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents,label,detailed_label
0,1.547151e+09,CzsY0D4B96NTr8m7ld,192.168.1.199,59222,46.101.251.172,80,tcp,http,1.686784,149,...,-,11584,ShADadttfF,122,7741,122,178102,-,Malicious C&C,FileDownload
4,1.547151e+09,CBjcNy4pOh8Xg1H4S,192.168.1.199,59224,46.101.251.172,80,tcp,http,1.847943,149,...,-,4344,ShADadttfF,102,6485,121,178178,-,Malicious C&C,FileDownload
5,1.547151e+09,CVTWpd789rU8sChfi,192.168.1.199,59226,46.101.251.172,80,tcp,http,1.500886,152,...,-,20272,ShADadtfF,83,4696,94,136285,-,Malicious C&C,FileDownload

### 5.2 Filtros en `df_net` (NetCrime)

**Columnas clave**:
- `country` ‚Üí c√≥digo pa√≠s, p.ej. `"AU"`
- `2023_losses`, `2024_losses` ‚Üí p√©rdidas en USD
- `2024_complaints` ‚Üí n√∫mero de quejas en 2024

**Filtros**:
1. S√≥lo datos de Australia (`AU`)
2. Pa√≠ses con m√°s de 1 000 000 000 USD en p√©rdidas en 2023
3. Pa√≠ses donde las quejas aumentaron de 2023 a 2024

In [26]:
# 5.2.1 Pa√≠s Australia
f_net_au = df_net[df_net['country'] == 'AU']

# 5.2.2 P√©rdidas > 1.000 M USD en 2023
f_net_high_loss_2023 = df_net[df_net['2023_losses'] > 1_000_000_000]

# 5.2.3 Aumento de quejas 2024 vs 2023
f_net_more_complaints = df_net[
    df_net['2024_complaints'] > df_net['2023_complaints']
]

# Mostrar resultados
print("Australia:", f_net_au.shape)
print("P√©rdidas 2023 >1B:", f_net_high_loss_2023.shape)
print("Quejas subieron 2023‚Üí2024:", f_net_more_complaints.shape)
f_net_more_complaints.head(3)

Australia: (1, 13)
P√©rdidas 2023 >1B: (23, 13)
Quejas subieron 2023‚Üí2024: (82, 13)

,country,2019_complaints,2019_losses,2020_complaints,2020_losses,2021_complaints,2021_losses,2022_complaints,2022_losses,2023_complaints,2023_losses,2024_complaints,2024_losses
0,PR,655,5929974,1338,7209755,1785,9463928,1594,17211758,1817,21018302,1974,31545772
1,PS,1784,22483591,2890,25423219,3352,48918464,3210,57796003,3378,69292891,3811,66002407
2,PT,1119,13870074,2020,12391290,2102,18205913,1918,30859319,2178,28700418,2209,40192274

### 5.3 Filtros en `df_ransom` (RansomAttacks)

**Columnas clave** (ya normalizadas):
- `sector` ‚Üí sector objetivo, p.ej. `"healthcare"`
- `ransom_cost` ‚Üí coste del rescate (USD millones)
- `year` ‚Üí a√±o del ataque (int)

**Filtros**:
1. Incidentes en el sector ‚Äúhealthcare‚Äù
2. Rescates superiores a 50 USD millones
3. Atacos en 2021

In [27]:
# 5.3.1 Sector healthcare
f_rans_health = df_ransom[df_ransom['sector'] == 'healthcare']

# 5.3.2 Ransom_cost > 50
f_rans_big = df_ransom[df_ransom['ransom_cost'] > 50]

# 5.3.3 Ataques en 2021
f_rans_2021 = df_ransom[df_ransom['year'] == 2021]

# Mostrar resultados
print("Healthcare:", f_rans_health.shape)
print("Ransom >50M:", f_rans_big.shape)
print("A√±o 2021:", f_rans_2021.shape)
f_rans_2021[['target','ransom_cost','date']].head(3)

Healthcare: (50, 30)
Ransom >50M: (16, 30)
A√±o 2021: (135, 30)

           target  ransom_cost       date
0          Kaseya         70.0 2021-07-01
1  Salvation Army          NaN 2021-06-01
2    Grupo Fleury          NaN 2021-06-01